<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Seamus Daly</title>
    <!--The page is hosted on github pages at https://shaydaly.github.io/IMD-WEB-CV/IMD-CA-2/IMD-CA/-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/images/favicon.ico">
</head>

<body>
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img id ="profile_picture" class="profile img-circle" src="assets/images/ProfilePicture.jpg" alt="Seamus Daly" onmousedown="displayImagePopUp('profile_picture')" />
            <h1 class="name">Seamus Daly</h1>
            <h4 class="tagline">Software Developer<a data-toggle="modal" data-target="#mapModal"><img src="assets/images/location.png" id="locationImage"></a></h4>

            <div class="contact_button">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ContactPopUp">Contact</button>
            </div>

        </div><!--//profile-container-->

        <div class="navbar">
            <ul class="nav navbar-tabs">
                <li class ="active navbarOption"><a data-toggle="tab" href="#ABOUT">ABOUT</a></li>
                <li class ="navbarOption"><a data-toggle="tab" href="#WorkExperience">EXPERIENCE</a></li>
                <li class ="navbarOption"><a data-toggle="tab" href="#Skills">SKILLS</a></li>
                <li class ="navbarOption"><a data-toggle="tab" href="#PROJECTS">PROJECTS</a></li>
                <li class ="navbarOption"><a data-toggle="tab" href="#RESULTS">RESULTS</a></li>
            </ul>
        </div>
        <!--<div class="contact-container container-block">-->
        <div class="mediaBox">
            <div class="mediaLinks">
               <a class="fa fa-envelope" href="mailto: shaydaly20@gmail.com"></a>
               <a class="fa fa-linkedin" href="https://ie.linkedin.com/in/seamusdaly1" target="_blank"></a>
                <a class="fa fa-github" href="https://www.github.com/shaydaly" target="_blank"></a>
                <a class="fa fa-phone" href="tel:0851329485"></a>
                <a class="fa fa-skype" href="skype:Seamus Daly?call"></a>
            </div>
        </div>
    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">
        <div class="tab-content">
            <div id="ABOUT" class="tab-pane fade in active">
                <section class="section summary-section">
                    <h2 class="section-title"><i class="fa fa-user"></i>About</h2>
                    <div class="summary">
                        <p>I am currently a full time student in the Institute of Technology, Tallaght, where
                            I am studying for an honours degree in Computing. I am due to graduate in May 2017, and will be entering a career
                            in software development.</p>
                            <p>I have always had a great interest in technology, and the development of new technologies, and this is one of the main reasons I have chosen to pursue a
                            career in software development.
                        </p>
                    </div><!--//summary-->
                </section>
                <div class="EducationContainer">
                <section class="section summary-section">
                    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
                    <div class="summary">
                        <div id="collegeE">
                            <a href="http://www.it-tallaght.ie/" target="_blank"><img src="assets/images/itt.jpg" class="collegeImage"></a>
                        <h4 class="meta">Institute of Technology, Tallaght</h4>
                        <div class="educationTime">September 2013 - present</div>

                        </div>
                        <div id="secondarySchool">

                        <h4 class="meta">Palmerstown Community School</h4>
                            <a href="http://www.palmerstowncs.ie/" target="_blank"><img src="assets/images/pobal.png" class="schoolImage"></a>
                        <div class="educationTime">2004 - 2010</div>
                        </div>
                    </div><!--//summary-->
                </section><!--//section-->
                </div>


            </div>
            <div id="WorkExperience" class="tab-pane fade">
                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Technical Intern</h3>
                                <div class="company">OpenJaw Technologies</div>
                            </div><!--//upper-row-->
                            <div class="time">February 2016 - August 2016</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p><a href="http://www.openjawtech.com/" target="_blank"><img class="workImage" src="assets/images/openjaw.png" ></a>
                                During my time in OpenJaw Technologies I worked on the Cathay Team, which was responsible for developing their product
                                for Cathay Pacific, which is a Hong Kong based
                                provider of flights and dynamic packages.</p>
                            <p>My main duties here involved developing features as part of the current sprint, working on production level incidents, and
                                QA and Testing
                            </p>

                        </div><!--//details-->
                    </div><!--//item-->
                    <div id="BootsItem">
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Operations Assistant</h3>
                                <div class="company">Boots Ireland</div>
                            </div><!--//upper-row-->
                            <div class="time">2008 - present</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p><a href="http://www.boots.ie/" target="_blank"><img class="workImage"src="assets/images/Boots.png" ></a>
                                I have worked in Boots for the last 8 years, both on a full time and part-time basis. My main duties in Boots involve dealing with members of the public, stock ordering, devising staff rosters, medication delivery, amongst others.</p>

                        </div><!--//details-->
                    </div>
                    </div><!--//item-->
                </section>
            </div>
            <div id="Skills" class="tab-pane fade" ng-app="skills" ng-controller="skillsController">
                <!--<h2 class="section-title"><i class="fa fa-keyboard-o"></i>Skills</h2>-->
                <!--<div class="table-responsive">-->
                    <!--<table class="table">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td>Java</td>-->
                            <!--<td>C#</td>-->
                            <!--<td>C++</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>ASP.net</td>-->
                            <!--<td>HTML</td>-->
                            <!--<td>CSS</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>JavaScript</td>-->
                            <!--<td>SQL</td>-->
                            <!--<td>Linux</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <section class="skills-section section">
                    <h2 class="section-title"><i class="fa fa-line-chart"></i>Skills &amp; Proficiency</h2>
                    <div class="skillset">
                        <div class="item" ng-repeat="ty in skills.skills">
                            <h3 class="level-title">{{ty.skill}}</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="{{ty.ability}}">
                                </div>
                            </div><!--//level-bar-->
                        </div><!--//item-->
                    </div>
                </section><!--//skills-section-->
            </div>
            <div id="PROJECTS" class="tab-pane fade">
                <section class="section projects-section">
                    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                    <nav class="navbar navbar-inverse">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" id="dropdown" >
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-arrows-v"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="active navnarProject navbarText col-md-4"><a data-toggle="tab" href="#year4Project">Year 4 Project</a></li>
                                <li class="navnarProject navbarText col-md-4"><a data-toggle="tab" href="#year3Project">Year 3 Project</a></li>
                                <li class="navnarProject navbarText col-md-4"><a data-toggle="tab" href="#year2Project">Year 2 Project</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        </nav>
                    <div class="tab-content">
                        <div id ="year4Project" class="tab-pane fade in active">
                            <h4 class="project-title">CARVIS Android Application</h4>
                            <div class="intro">
                                <p>For my final year project I am developing a car safety application for mobile devices. The
                                    project will be an android application, which keeps track of a users speed and notifies them if they go
                                    over the known speed limit of the road they are travelling. Other features include notification of upcoming
                                    speed cameras, speed safety scores, amongst others</p>
                                <p>Some of the technologies present in the project are Android, Java, Python, AWS Lambda, AWS RDS, AWS SQS</p>
                                <p>I am undertaking this project in conjunction with Amazon's AWS. This involves bimonthly visits to Amazon's offices in
                                    Dublin with discussions with members of the AWS team. As such, I will be incorporating AWS products into the project as much as possible.</p>
                                <a href="https://aws.amazon.com/" target="_blank"><img id="aws-image" class="img-thumbnail" src="assets/images/aws.png" alt="AWS logo"></a>
                            </div><!--//intro-->
                        </div>
                        <div id ="year3Project" class="tab-pane fade">
                            <h4 class="project-title">Automated Testing</h4>
                            <div class="intro">
                                <p>During my work placement I had to develop a mini project within the company I was working. The project I implemented
                                    was an automated testing project. The project introduced automated tests to the team and used various different technologies such
                                    as Apache Ant, Jenkins, Apache JMeter, Java, </p>
                            </div><!--//intro-->
                            <div class="Y3Carousel">
                                <div id="ProjectCarouselY3" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#ProjectCarouselY3" data-slide-to="0" class="active"></li>
                                        <li data-target="#ProjectCarouselY3" data-slide-to="1"></li>
                                        <li data-target="#ProjectCarouselY3" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="assets/images/AutomatedReport.png" alt="Automated Report" width="100%" height="100%">
                                        </div>

                                        <div class="item">
                                            <img src="assets/images/jenkins.png" alt="Jenkins" width="100%" height="100%">
                                        </div>

                                        <div class="item">
                                            <img src="assets/images/jmeter.svg" alt="Apache Jmeter" width="100%" height="100%">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#ProjectCarouselY3" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#ProjectCarouselY3" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="year2Project" class="tab-pane fade">
                                <h4 class="project-title">GamesDirect</h4>
                            <div class="intro">
                                <p>For the second year project I took part in a group project to develop an MVC application. We developed an interactive
                                    web site for purchasing video games. Features present in the application included a persistent database, administrative access, account authorisation,
                                    session logging using cookies, amongst others. </p>
                                <p>The project was built using the Play framework and the technologies involved included Java, Scala, Git, SQL, HTML, CSS and JavaScript.</p>
                                <div class="GameCarousel">
                                <div id="ProjectCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#ProjectCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#ProjectCarousel" data-slide-to="1"></li>
                                        <li data-target="#ProjectCarousel" data-slide-to="2"></li>
                                        <li data-target="#ProjectCarousel" data-slide-to="3"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="assets/images/GameProductPage.PNG" alt="Product Purchasing Page" width="100%" height="100%">
                                        </div>

                                        <div class="item">
                                            <img src="assets/images/GameCustomerPage.PNG" alt="Customer Account Page" width="100%" height="100%">
                                        </div>

                                        <div class="item">
                                            <img src="assets/images/GameOrderPage.PNG" alt="List of Orders made" width="100%" height="100%">
                                        </div>

                                        <div class="item">
                                            <img src="assets/images/GameReport.PNG" alt="Sales Report Page" width="100%"height="100%">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#ProjectCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#ProjectCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                    </div>
                            </div>

                        </div><!--//intro-->
                        </div>
                </section>
                <!--//section-->
            </div>
            <div id="RESULTS" class="tab-pane fade" ng-app="education" ng-controller="educationController">
                <h2 class="section-title"><i class="fa fa-percent"></i>Results</h2>
                <section>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <h3><a class="resultSelect" data-toggle="collapse" data-parent="#accordion" href="#y3Results" aria-expanded="true" aria-controls="y3Results">Year 3</a></h3>
                        <div id="y3Results" class="collapse in" role="tabpanel">
                            <h5 class="gpaTitle">GPA: 3.57 / 4.00</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Result</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr ng-repeat="ty in education.thirdYear | orderBy : 'grade'">
                                    <td>{{ty.subject}}</td>
                                    <td>{{ty.grade}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3><a class="resultSelect" data-toggle="collapse" data-parent="#accordion" href="#y2Results" aria-expanded="true" aria-controls="y2Results">Year 2</a></h3>
                        <div id="y2Results" class="collapse" role="tabpanel">
                            <h5 class="gpaTitle">GPA: 3.92 / 4.00</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Result</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr ng-repeat="ty in education.secondYear | orderBy : 'grade'">
                                    <td>{{ty.subject}}</td>
                                    <td>{{ty.grade}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3>
                            <a class="collapsed resultSelect" data-toggle="collapse" data-parent="#accordion" href="#y1Results" aria-expanded="false" aria-controls="y1Results">Year 1
                            </a>
                        </h3>
                        <div id="y1Results" class="collapse" role="tabpanel">
                            <h5 class="gpaTitle">GPA: 3.88 / 4.00</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Result</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr ng-repeat="ty in education.firstYear | orderBy : 'grade'">
                                    <td>{{ty.subject}}</td>
                                    <td>{{ty.grade}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div><!--//main-body-->


        <div id="ContactPopUp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Contact me</h3>
                    </div>
                    <div class="modal-body">
                        <script type="text/javascript" src="https://form.jotformeu.com/jsform/63415814361352"></script>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div ng-app="DateApp" ng-controller="dateController" class="currentDate" id="TODAY">
            <span>{{CurrentDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </div>
    </div>
</div>

<div id="imageModal" class="imageModal">
    <div>
    <img class="imageContentModal" id="img01">
    </div>
    <div id="caption"></div>
    <div class="closeButton">
        <button type="button" class="close" id="closeImage" data-dismiss="modal">&times;</button>
    </div>
</div>

<div class="modal fade" id="mapModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Location</h4>
            </div>

                <div class="container">
                    <div id="map" class="map"></div>
                </div>
        </div>

    </div>
</div>


<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>

<script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/myJS.js"></script>
<script type="text/javascript" src="assets/js/dynamicContentAngular.js"></script>
<!-- custom js -->
<script type="text/javascript" src="assets/js/main.js"></script>


<script>
    function initMap() {
        var uluru = {lat: 53.3513040, lng: -6.3805650};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAhhhxC8tQeyPGKj-5pfPtyBreLYUYtI3E&callback=initMap"></script>



</body>
</html>

