body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 15px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.gpaTitle{
  color: #626262;
}

a {
  color: #5bc0de;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  font-weight:bold;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.btn-info{
  background-color: #2b2b2b
}
.mediaLinks{
  width:190px;
  margin: 0 auto;
  position:relative;
  /*padding:15px;*/
  padding-top: 50px;
}

.mediaBox{
 overflow:auto;
}

.fa-linkedin, .fa-github, .fa-twitter, .fa-envelope, .fa-phone, .fa-skype {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #5bc0de;
  border: solid 1px #5bc0de;
  border-radius: 35px;
  padding: 5px 5px 5px 5px;
  transition: all 0.5s ease 0s;
  margin-right: 10px;

}


.img-circle{
  width:80%;
}
.wrapper {
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height:100%;
}
.sidebar-wrapper {
  background: #363636;
  position: absolute;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 900px;
  color: #fff;
}
.sidebar-wrapper a {
  color: #fff;
}
.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

.sidebar-wrapper .name {
  font-size: 25px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight:bold;
}
.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile {
  margin-bottom: 15px;
}


.sidebar-wrapper .container-block {
  padding: 30px;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

#footer{
  text:19px;
  height:19px;
  width:100%;
  background-color: #2b2b2b;
}
/*.sidebar-wrapper .degree {*/
  /*font-size: 15px;*/
  /*margin-top: 0;*/
  /*margin-bottom: 5px;*/
/*}*/
/*.sidebar-wrapper .education-container .item {*/
  /*margin-bottom: 15px;*/
/*}*/
/*.sidebar-wrapper .education-container .item:last-child {*/
  /*margin-bottom: 0;*/
/*}*/
/*.sidebar-wrapper .education-container .meta {*/
  /*color: rgba(255, 255, 255, 0.6);*/
  /*font-weight: 500;*/
  /*margin-bottom: 0px;*/
  /*margin-top: 0;*/
/*}*/
/*.sidebar-wrapper .education-container .time {*/
  /*color: rgba(255, 255, 255, 0.6);*/
  /*font-weight: 500;*/
  /*margin-bottom: 0px;*/
/*}*/
.currentDate{
  bottom:0;
  position: absolute;
  right:10px;
  color:white;
}
.educationTime{
  color: #5b5b5b;
}
.carousel-inner{
  height:100%;
  max-height:203px;
}

.GameCarousel{
  padding-top:50px;
}

.workImage{
  width:120px;
  height:100px;
  float: right;
  margin: 0 0 10px 10px;
  padding-left:20px;
}

.schoolImage{
  width:180px;
  height:140px;
  float: right;
  margin: 0 0 10px 10px;
}
.navnarProject{
  text-align:left;
  font-weight:bold;
  font-size: 15px;
}
.navnarOption{
  width:100%;
  text-align:left;
  font-weight:bold;
  font-size: 15px;
}
 .mediaLinks a{
   color: #5bc0de;
 }
.navbar-inverse .navbar-nav>li>a {
   color: white;
}

.main-wrapper {
  right:0;
  background: white;
  padding: 60px;
  padding-left: 300px;
  height:100%;
  min-height:900px;
  text-align: justify;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #363636;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}


.sidebar-wrapper a:hover{
  text-decoration: none;
}
.resultSelect:hover{
  text-decoration: none;
}

.main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #5bc0de;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.main-wrapper .section {
  margin-bottom: 60px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .job-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .time {
  position: relative;
  right: 0;
  top: 0;
  color: #5bc0de;
}
.main-wrapper .company {
  padding-top:10px;
  margin-bottom: 10px;
  color: rgb(118, 127, 123);
  font-weight:bold;
}
.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 5px;
}

.project-image{
  width: 50px;
  height:50px;
  display: inline-block;
}
#automatedProject-image{
  height:50%;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.closeButton{
  padding-left:45%;
}
/* The Modal (background) */
.imageModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#secondarySchool{
  padding-top:100px;
}
#collegeE{
  padding-top:20px;
}
.imageContentModal{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 500px;
  min-height:400px;
  max-height:400px;
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height:100%;
  background-color:#2b2b2b;
 color:white;
}

.modal-dialog{
  width: 627px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.col-xs-3{
  height:600px;
}

.gamesiteImage{
  height:100px;
}

.gamesiteImages{
  padding-top:30px;
}

.btn-default{
  margin-left:15px;
  width:100px;
}

#automatedProject-image{
  width:100%;
  height:100%;
}

.contact_button{
  padding-top:15px;
  margin: 0 auto;
  padding-top:40px;
}

#year2Project,#year3Project,#year4Project{
  text-justify: auto;
  padding-top:40px;
}

.navbar-tabs > li > a:hover {
  background-color: transparent;
  border: none;
}
.navbar-tabs> li > a {
  background-color: transparent;
  border: none;
}
.navbar-tabs {
  border: none;
}
.navbar-tabs > li.active > a,
.navbar-tabs > li.active > a:hover,
.navbar-tabs > li.active > a:focus {
  background-color: transparent;
  /*border: none;*/
  /*padding-bottom: 6px;*/
  border-bottom: 1px solid #5bc0de;
  font-weight:bold;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
  background-color: transparent;
  /*border: none;*/
  /*padding-bottom: 6px;*/
  border-bottom: 4px solid #5bc0de;
  font-weight:bold;
}

/*.modalImage{*/
  /*max-height:100px;*/
  /*margin: 0 auto;*/
  /*height:100%;*/
  /*width:100%;*/
/*}*/
/*.buttonColor{*/
  /*color:#5bc0de;*/
  /*background-color:#5bc0de;*/
/*}*/
/*.pull-right{*/
  /*color:#5bc0de;*/
  /*background-color:#5bc0de;*/
/*}*/
/*.btn-success{*/
  /*color:#5bc0de;*/
  /*background-color:#5bc0de;*/
/*}*/


/*.main-wrapper .projects-section .intro {*/
  /*margin-bottom: 30px;*/
/*}*/
/*.main-wrapper .projects-section .item {*/
  /*margin-bottom: 15px;*/
/*}*/
.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #5bc0de;
}

#alertBox{
  display:none;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 480px) {

  body{
    padding: 0 0 0 0;
  }
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }

  .mediaLinks{
    width:200px;
    margin: 0 auto;
    position:relative;
    /*padding:15px;*/
  }

  .fa-linkedin, .fa-github, .fa-twitter, .fa-envelope, .fa-phone, .fa-skype {
    width: 25px;
    height: 25px;
    text-align: center;
    color: #5bc0de;
    border: solid 1px #5bc0de;
    border-radius: 35px;
    padding: 5px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px;

  }
}


@media (max-width: 936px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
